body {
  background: #00b3b4;
  color: #e5f8ff;
}

h1 {
  color: #7AFEFF;
}

h3 {
  margin-bottom: 60px;
}

a {
  color: #7AFEFF;
  text-decoration: underline;
}

.question {
  background-color: #ffffff;
}

.btn-primary {
  margin-top: 14px;
  margin-bottom: 30px;
  background-color: #fa59ff;
  border-color: #e549ed;
}

.btn-primary:hover {
  background-color: #c512cc;
}

.btn-primary:active {
  background-color: #c512cc;
}

.container {
  max-width: 800px;
  text-align: center;
}

form {
  text-align: left;
}

.logo {
  width: 180px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.logo img {
  width: 100%;
}

h4 {
  font-size: 20px;
  margin-top: 20px;
}

form p {
  font-size: 16px;
  font-style: oblique;
}

#resultField {
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #008996;
  border-radius: 10px;
  width: 80%;
  height: auto;
}

#cssDesign {
  display: none;
}

#cSharp {
  display: none;
}

#phpDrupal {
  display: none;
}

#javaAndroid {
  display: none;
}

#rubyRails {
  display: none;
}

#moreInfo {
  display: none;
}

#moreInfo li {
  text-align: left;
}
